/**
*
* ========================================================================================
*
*   @CUSTOM STYLESHEET - This stylesheet should be used for custom customization 
*
* ========================================================================================
*
*/
body.layout-rtl {
  /* ScrollBar Position */
  /* c-custom-dropdown */
  /* gcontainer */
}
body.layout-rtl #sidebar .ps__rail-y {
  right: 0 !important;
}
body.layout-rtl .c-custom-dropdown button {
  background: none;
  border: none;
  padding: 0 5px;
}
body.layout-rtl .glightbox-container .gcontainer .gnext.gbtn {
  transform: rotate(180deg);
}
body.layout-rtl .glightbox-container .gcontainer .gprev.gbtn {
  transform: rotate(180deg);
}
